* {
  padding: 0;
  margin: 0;
 box-sizing: border-box; 
}

body {
    background-color: rgb(251, 28, 247);
    
  }

  .container {
    position: relative;
    width: 100vw;
    min-height: 100vh;

  }
  h1 {
    font-family: Arial, sans-serif;
    font-size: 10vw;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: .3vw;
    text-align: right;

  }



  .link {
    color: white ;
    text-decoration: unset;
    font-family: 'Times New Roman', Times, serif;
    font-size: 7vw; 
    text-shadow: 0 0 20px greenyellow, 0 0 20px greenyellow, 0 0 20px greenyellow,0 0 20px greenyellow;
    position: absolute;
    top: 10vw; 
    right: 39vw;

  }

  .link:hover {
text-shadow: unset;
transition: 45px;
  }

  .img {
    width: 20vw;
    box-shadow: 20px 20px 20px aqua;
    position: absolute;
    top: 20vw;
    right: 35vw;
    transition: .2s;
  }
  .img:hover {
    transform: scale(2);
  }
  .img:hover + p {
    animation-name: floaty;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

    .img2 {
      width: 20vw;
      box-shadow: 20px 20px 20px cyan;
      position: absolute;
      top: 10vw;
      right: 75vw;
      transition: .2s;
    }

    .img2:hover {
      transform: scale(2);
    }
    .img2:hover + p {
      animation-name: floaty;
      animation-duration: 2s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
    .img3 {
      width: 20vw;
      box-shadow: 20px 20px 20px cyan;
      position: absolute;
      top: 10vw;
      right: 50vw;
      transition: .2s;
    }
      .img3:hover {
        transform: scale(2);
      }
      .img3:hover + p {
        animation-name: floaty;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
      }
    
    .img4 {
      width: 20vw;
      box-shadow: 20px 20px 20px cyan;
      position: absolute;
      top: 40vw;
      right: 35vw;
      transition: .2s;

    }

    .img4:hover {
      transform: scale(2);
    }
    .img4:hover + p {
      animation-name: floaty;
      animation-duration: 2s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }


  

  .floating {
    position: absolute;
    z-index: 9;
    font-family: Arial, sans-serif;
    font-size: 5vw;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.2vw;
    color: limegreen;
    top: 20vw;
  }

  .floating1 {
    position: absolute;
    z-index: 9;
    font-family: Arial, sans-serif;
    font-size: 5vw;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .2vw;
    color: limegreen;
    top: 58vw;
  }

  .floating2 {
    position: absolute;
    z-index: 9;
    font-family: Arial, sans-serif;
    font-size: 5vw;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.2vw;
    color: limegreen;
    top: 47vw;
  }

  .floating3 {
    position: absolute;
    z-index: 9;
    font-family: Arial, sans-serif;
    font-size: 5vw;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.2vw;
    color: limegreen;
    top: 75vw;
  }


@keyframes floaty {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translate(25vw);
  }
}

  